# Object files
*.o

# Build Dir

kernel/obj

lib/libk/obj


# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Custom Build Script (for local testing)
build.sh
