# Object files
*.o

# Build Dirs

debug
release
out

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Intrid Leftovers
intrid
*.img
