# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# GN Build Dirs

# Standard Build
out 

# Release Build
rel 

# Debug Build
deb 

